@use "sass:color";

// Fonts 

$font-family-sans: sans;
$font-family-serif: serif;

$font-weight-regular: 500;
$font-weight-medium: 700;
$font-weight-heavy: 900;

$font-size-xsmall: 0.7em;
$font-size-small: 0.85em;
$font-size-regular: 1em;
$font-size-big: 1.2em;
$font-size-xbig: 1.5em;
$font-size-xxbig: 2em;
$font-size-huge: 3em;
$font-size-xhuge: 4em;

// Colors

$cv-bg: hsl(20, 0%, 90%);
$cv-corporate: hsl(38, 100%, 46%);
$font-highlighted-color: hsl(38, 100%, 46%);
$font-regular-color: hsl(136, 6%, 13%);
$font-title-color: hsl(38, 100%, 20%);
$font-white-color: hsla(0, 0%, 100%, 0.9);
